@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght@100..900&family=League+Spartan:wght@100..900&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Young+Serif&display=swap');
:root{
    --blue1: hsl(225, 100%, 94%);
    --blue7: hsl(245, 75%, 52%);
    --blue5: hsl(225, 100%, 98%);
    --blue9: hsl(223, 47%, 23%);
    --gray: hsl(224, 23%, 55%);
}
body{
    background-color: var(--blue1);
    background-image: url('images/pattern-background-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100% 35%;
    margin: 0;
    width: 100vw;
    height: clamp(45rem,210vw,57rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: clamp(20rem,80vw,25rem);
    height: clamp(35rem,150vw,47rem);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Red Hat Display',sans-serif;
    font-weight: 500;
}
.image{
    background-image: url('images/illustration-hero.svg');
    background-size: cover;
    width: 100%;
    aspect-ratio: 45/22;
}
.inside{
    width: 85%;
    height: 73%;
    text-align: center;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
h1,p{
    margin: 0;
}
h1{
    font-weight: 900;
    color: var(--blue9);
}
p{
    text-align: center;
    color: var(--gray);
    line-height: 1.5rem;
}
.plan{
    background-color: var(--blue5);
    width: 90%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    font-size: 0.875rem;
    position: relative;
    padding-inline: 5%;
}
.plan img{
    width: 20%;
    aspect-ratio: 1/1;
}
.rate{
    width: 40%;
    height: 60%;
    color: var(--gray);
    margin-inline: 2.5%;
}
#last{
    color: var(--blue7);
    font-weight: 700;
    position: absolute;
    right: 5%;
    text-decoration: underline;
}
#last:hover{
    text-decoration: none;
    opacity: 0.5;
    cursor: pointer;
}
.rate span{
    color: var(--blue9);
    font-weight: 900;
}
.payment{
    background-color: var(--blue7);
    width:100%;
    height: 3rem;
    border-radius: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px hsl(245, 75%, 81%);
    font-weight: 700;
}
.payment:hover{
    opacity: 0.75;
    cursor: pointer;
}
.cancel{
    font-weight: 900;
}
.cancel:hover{
    color: var(--blue9);
    cursor: pointer;
}
@media (min-width:calc(31.25rem + 1px)){
    body{
        background-image: url('images/pattern-background-desktop.svg');
        background-size: 100% 50%;
    }
    .card{
        width: clamp(25rem,80vw,30rem);
    }
    .inside{
        width: 70%;
        height: 65.5%;
        padding-block-start: 7.5%;
    }
}